{% extends "auth_and_error_base_template.html" %}

{% block title %} 404 Not Found {% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card shadow-lg border-0 rounded-lg mt-5">
                <div class="card-header"><h3 class="text-center font-weight-light my-4">404 Not Found</h3></div>
                <div class="card-body text-center">
                    <p>Извините! Страница, которую Вы ищете, не может быть найдена</p>
                    <a href="{{ url_for('cameras.main') }}">Главная страница</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
