{% extends "base_template.html" %}

{% block title %} Добавление события {% endblock %}

{% block content %}
    <div class="mt-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{url_for('events.events')}}">События</a></li>
                <li class="breadcrumb-item active" aria-current="page">Добавление события</li>
            </ol>
        </nav>
    </div>
    {% include 'widgets/flash_message.html' %}
    <div class="row">
        <div class="col-md-6">
            <form action="" method="post">
                {% include 'widgets/form.html' %}
            </form>
        </div>
    </div>
{% endblock %}